<div class="about-1">
  <h1 class="about-header">About Chakra Squad</h1>
  <br>
  <div class="about-row row">
    <div class="col-sm-4">
      <%= inline_svg 'undraw_joyride_hnno.svg', class: 'joyride-svg' %>
    </div>
    <div class="col-sm-8">
      <p class="about-p">
        Our mision is to make every moment of every person's life an extraordinary adventure.
      </p>
      <br>
      <br>
      <p class="about-p">
        Why? Because Life is better when you make it a Journey.
      </p>
    </div>
    <br>
  </div>
</div>
<div class="filler">
  <marquee scrollamount="11" direction="left" behavior="scroll">
    <%= image_tag('chakra_scroller.png', alt: 'chakra scrolling image', class: 'chakra-scroller' ) %>
  </marquee>
</div>
<div class="about-2">
  <%= image_tag(asset_path('smiling_woman.png'), alt: 'Smiling Woman') %>
  <div class="row about-row">
    <div class="col-sm-12 col-md-4">
      <p class="about-p">
        How do we do it?
        <br>
        By connecting people with the power of metaphysical tools and adornments.
        <%=link_to 'Shop our Products', products_path, class: 'about-link' %> to learn more.
      </p>
    </div>
  </div>
</div>
<div class="about-end">
  <p class="about-p bio">Who are we? </p>
  <br>
  <p class="about-p bio">
    As the founder, owner and lead developer of Chakra Squad, Sean River
    is the key stone of this business. He is a 19 year-old full-stack web developer,
    self-educator, and wellness warrior. To learn more about him, <%= link_to 'Visit his website.', 'https://seanrivermize.com/', target: '_blank', class: 'about-link' %>
  </p>
</div>
