<h1>Contact Us</h1>
<div class="contact-p">
  <p>Send us a message if you have any questions about our products or business!</p>
  <p>We will usually get back to you within 48 hours.</p>
</div>
<%= flash[:notice] %>
<div class="form-contact">
  <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
  <div class="form-group name">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Name", :required => true %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control email", placeholder: "Enter Email", :required => true %>
  </div>
  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control message", placeholder: "Enter Message", rows: 6, :required => true %>
  </div>
  <div class="contact-send">
    <%= form.submit "Send", class: "form_label btn btn-primary" %>
  </div>
  <% end %>
</div>
