<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid instance-form">
    <div class="row">
      <div class="field col-sm-4">
        <%= form.label :name, class: "field-label" %>
        <%= form.text_field :name, class: "field-input" %>
      </div>

      <div class="field col-sm-4">
        <%= form.label :color, class: "field-label" %>
        <%= form.text_field :color, class: "field-input"  %>
      </div>

      <div class="field col-sm-4">
        <%= form.label :price, class: "field-label" %> Enter dollar amount without cents.
        <%= form.text_field :price, class: "field-input"  %>
      </div>
    </div>

    <div class="field">
      <%= form.label :image_url, class: "field-label" %>
      <%= form.text_field :image_url, class: "field-input"  %>
    </div>

    <div class="field">
      <%= form.label :description, class: "field-label" %>
      <%= form.text_area :description, class: "field-input", id: "instance-form-description" %>
    </div>



    <div class="actions" id="form-button">
      <%= form.submit class: "btn btn-outline-success my-2 my-sm-0" %>
    </div>
  </div>
<% end %>
