<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm">
        <%= image_tag(product.image_url, class: "img-fluid") unless product.image_url.nil? %>
        <a href="#"><strong><%= product.name %></strong></a>
        <p><%= product.description %> Color: <%= product.color %></p>
        <strong> $<%= product.price%></strong>
      </div>
    <% end %>
  </div>
</div>





<br>

<%= link_to 'New Product', new_product_path %>
