<!DOCTYPE html>
<html>
  <head>
    <title>Chakra Squad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- links to google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">

    <!-- Linking to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- link to Bootstrap JS and Popper Js for added features -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  </head>

  <body>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to image_tag("chakra_squad_home.png", class: "img-fluid"), simple_pages_index_path %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "About", simple_pages_about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", simple_pages_contact_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Products", products_path, class: "nav-link" %>
          </li>
        </ul>
        <%= form_with(url: products_path, method: "get", class: "form-inline my-2 my-lg-0", local: true) do |form| %>
          <%= form.text_field :q, id: "q", class: "form-control mr-sm-2", placeholder: "Search", value: params[:q] %>
          <%= form.submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
      </div>
    </nav>
      <!-- END OF NAVIGATION BAR -->
    <%= yield %>
    <footer>
      <span class="footer-copy">&copy; Sean River Mize 2018</span>
      <div class="fb-page" data-href="https://www.facebook.com/Chakra-Squad-1706031329519254/?modal=admin_todo_tour" data-width="250" data-height="200" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Chakra-Squad-1706031329519254/?modal=admin_todo_tour" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Chakra-Squad-1706031329519254/?modal=admin_todo_tour">Chakra Squad</a></blockquote></div>
    </footer>
  </body>
</html>
